body{
    margin: 0px;
    padding: 0px;
    font-family: 'Cera Round Pro', sans-serif;
    background-color: #f8f8f8;
}

.sign_wrapper{
    position: fixed;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
}

.card{
    height: 35%;
    width: 35%;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 20px;
}

.card_head{
    height: 20%;
    width: 70%;
    padding: 15px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

.card_head label{
    font-size: 30px;
    font-weight: 800;
    opacity: 0.9;
    color: #384850;
}

.postForm{
    width: 100%;
    height: 80%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid black; */
}

.main_container{
    width: 70%;
    display: flex;
    flex-flow: column;
    
}

#email{
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.input_container{
    display: flex;
    flex-flow: row;
    align-items:center;
    width: 100%;
    border: none;
    background-color:unset; 
}

.input_container img{
    width:20px;
    margin-right: 3px;
}

.input_container .input_field{
    padding: 10px;
    width:100%;
    border: none;
    background-color: unset;
    outline: none;
}

.submit {
    width: 70%;
    padding: 10px;
    margin-top: 5px;
    font-size: medium;
    font-weight: bolder;
    color: white;
    border: none;
    background-color: #384850;
    border-radius: 10px;
}
 
.submit:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px #384850;
}







@media only screen and (min-width: 500px) and (max-width:619px) {
    .svg img{
        display: none;
    }

    .sign_wrapper{
        justify-content: center;
    }

    .card{
        height: 230px;
        width: 60%;
    }
    
    .card_head{
        height: 20%;
        width: 70%;
        padding: 15px;
    }
    
    .card_head label{
        font-size: 20px;
        font-weight: 800;
    }
    
    .submit {
        width: 50%;
        padding: 7px;
        font-size: 14px;
        font-weight: bolder;
    }
}



@media only screen and (min-width: 620px) and (max-width:749px) {
    
    .sign_wrapper{
        flex-flow: column;
    }
    
    .svg img{
        width: 250px;
        height: 250px;
    }

    .card{
        height: 200px;
        width: 50%;
    }
    
    .card_head{
        height: 20%;
        width: 70%;
        padding: 15px;
    }
    
    .card_head label{
        font-size: 22px;
        font-weight: 800;
    }
    
    .submit {
        width: 50%;
        padding: 7px;
        font-size: 15px;
        font-weight: bolder;
    }
}


@media only screen and (min-width: 750px) and (max-width:1000px) {
    .svg img{
        width: 350px;
        height: 350px;
    }

    .card{
        height: 230px;
        width: 45%;
    }
    
    .card_head{
        height: 20%;
        padding: 15px;
    }
    
    .card_head label{
        font-size: 24px;
        font-weight: 800;
    }
    
    .submit {
        width: 50%;
        padding: 7px;
        font-size: 16px;
        font-weight: bolder;
    }
}


@media only screen and (min-width: 1000px) {
    .card{
        height: 250px;
        width: 35%;
    }
    
    .card_head{
        height: 20%;
        width: 70%;
    }
    
    .card_head label{
        font-size: 28px;
        font-weight: 800;
    }
    
    .submit {
        width: 50%;
        padding: 7px;
        margin-top: 5px;
        font-size: medium;
        font-weight: bolder;
    }
}