<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel="stylesheet" href="find.css">
    <link rel="stylesheet" href="Drivers.css">
    <link rel="stylesheet" href="Findex.css">
    <link rel="stylesheet" href="parentDriver.css">
    <link rel="stylesheet" href="Parents.css">
    <link rel="stylesheet" href="all.min.css">

</head>
<body>
    

<div class="app-main__outer">
    <div class="app-main__inner">
        
            <div class="row">
             
                <div class="col-md-4">
               

                    <div class="card user-card" >  
                        <div class="card-header">
                            <a type="submit" class="btn btn-light" href="">Profile</a>
                        </div>
                        <div class="card-block">
                            <div class="form-check form-switch" style="margin-top: -55px; margin-bottom: 20px; margin-left: 200px;"> <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked> </div>
                            <div class="user-image">
                                <img src="" class="img-radius" alt="User-Profile-Image">
                            </div>
                            <h6 class="f-w-600 m-t-25 m-b-10"></h6>
                             <p class="text-muted">license plate</p> 
                            <hr>
                            <p class="text-muted m-t-15">model:</p>
                            <p class="text-muted m-t-15"> color:</p>
                            
                            <p class="m-t-15 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> 
                            <hr>
                            <div class="row">

                            <div class="col">
                                <a href="" type="submit" class="btn btn-primary">UPDATE</a>
                             </div>

                                <div class="col">
                                <button type="submit" class="btn btn-primary">ASSIGN</button>
                             </div>

                            <div class="col">
                                <form action="" method="POST">
                               
                                <button type="submit" class="btn btn-danger">DELETE</button> 
                                </form> 
                             </div>
                             </div>
                        </div>
                    </div>
            </div>
           

            </div>
        
     </div>
</div>  
<script src="https://www.markuptag.com/bootstrap/5/js/bootstrap.bundle.min.js"></script>

</body>
</html>