<%- contentFor('body') %>
<section class="vh-100 gradient-custom" style="border-radius: 20px; border: none; overflow: scroll;">
    <div class=" py-5 h-100"  style="background: url(k.jfif); background-size: cover;">
      <div class="row justify-content-center align-items-center h-100"  >
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 5px;margin-bottom: 20px; border: none;">
            <div class="headingProfileParent card-body p-4 p-md-5" style="background-color:#fafafa; box-shadow: 0px 0px 5px #ccc; border-radius: 20px; border: none; ">

          <div class="nav" style=" border-radius: 5px; height: 40px; margin-bottom: 20px;margin-top: 60px;">

          <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
              <li class="breadcrumb-item"><a href="#">User</a></li>
              <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
          </nav>
          </div>
        
     
  
      <div class="row" >
        <div class="col-lg-4">
          <div class="card mb-4"style="background-color: whitesmoke;">
            <div class="card-body text-center">
              <img src="/Public/assets/manager.png" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">taha khaled</h5>
              <p class="text-muted mb-1">Full Stack Developer</p>
              <p class="text-muted mb-4">lives in 6 october</p>
            
            </div>
          </div>
        
        </div>
        <div class="col-lg-8">
          <div class="card mb-4"style="background-color: whitesmoke;">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0"> Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">taha khaled</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">tahakhaled33@gmail.com</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">010998876555</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Region</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">Elgiza</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">status</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">1</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Child</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"> two children</p>
                </div>
              </div>
   
            </div>
          </div>
      
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
      
       <div class="chi" style="background-color: whitesmoke; width: 200px; border-radius: 10px;">  
        <h5 class="mb-4 pb-2 pb-md-0 mb-md-5" style="margin-left: 20px; padding-top: 20px; font-weight: 700; font-size: 20px;">Add Child</h5>    
      <div class="row">
        <div class="col-md-6 mb-4">
          <div class="form-outline">
            <label class="form-label" for="Name" style=" margin-left: 20px; ">Name</label>
            <input type="text" id="Name" class="form-control form-control-lg"  style="width: 150px; margin-left: 20px;" />
          </div>
        </div>     
      </div>
     <div class="row">
        <div class="col-md-6 mb-4 d-flex align-items-center">
          <div class="form-outline datepicker w-100">
            <label for="file" class="form-label" style=" margin-left: 20px;">Photo</label>
            <input
              type="file"
              class="form-control form-control-lg"
              id="Photo"
             style="width: 95px; border: none; margin-left: 20px;"/>
          </div>
        </div>
          <div class="col-md-6 mb-4 d-flex align-items-center">
          <div style="margin-bottom: -35px;" >
            <input class="btn btn-primary btn-lg" style="background-color: #384850; color: aliceblue; width: 60px; margin-left: 15px; height: 30px; margin-bottom: 20px; border: none;" type="submit" value="ADD" />
          </div>
         </div>
        
      
      </div>
       </div>
      </div>
      <div class="col-lg-8">
          <div class="row d-flex justify-content-center" style=" border-radius: 10px; padding-bottom: 30px;">
              <div class="col-md-8">
                  <div class="headings d-flex justify-content-between align-items-center mb-3">
                      
                     
                  </div>
                  <div class="card p-3 mt-2" style="width: 420px; margin-left: -70px;background-color: whitesmoke">
                    <div class="d-flex justify-content-between align-items-center">
                      <label class="form-label" for="status" style="margin-left: 10px;">Child</label>

                      <label class="form-label" for="status" style="margin-left: 140px;">Status</label>
                      <label class="form-label" for="Confirmatiom" style="margin-left: 140px;">Confirmation</label>

                    </div>
                  </div>
       
                  <div class="card p-3 mt-2" style="width: 420px; margin-left: -70px;background-color: whitesmoke">
                    <img src="/Public/assets/manager.png" width="30" class="user-img rounded-circle mr-2" style="margin-bottom: -30px;">
                      <span "><small class="font-weight-bold text-primary" style="margin-left: 50px; ">james_olesehhhhhhnn</small>

                       <div style="margin-left: 200px; margin-bottom: -25px;">
                         <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                       </div>
                        <div class="buttons" style="margin-left: 370px; "> <span class="badge bg-white d-flex flex-row align-items-center"> 
                     <div class="form-check form-switch" > <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked> </div>
                 </span>
                </div>
            
                  
              </div>
                    
                  
              <div class="card p-3 mt-2" style="width: 420px; margin-left: -70px;background-color: whitesmoke">
                <img src="/Public/assets/manager.png" width="30" class="user-img rounded-circle mr-2" style="margin-bottom: -30px;">
                  <span "><small class="font-weight-bold text-primary" style="margin-left: 50px; ">james_olesehhhhhhnn</small>

                   <div style="margin-left: 200px; margin-bottom: -25px;">
                     <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                   </div>
                    <div class="buttons" style="margin-left: 370px; "> <span class="badge bg-white d-flex flex-row align-items-center"> 
                 <div class="form-check form-switch" > <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked> </div>
             </span>
            </div>
        
              
          </div>
         
          <div class="card p-3 mt-2" style="width: 420px; margin-left: -70px;background-color: whitesmoke">
            <img src="/Public/assets/manager.png" width="30" class="user-img rounded-circle mr-2" style="margin-bottom: -30px;">
                      <span "><small class="font-weight-bold text-primary" style="margin-left: 50px; ">james_olesehhhhhhnn</small>

                       <div style="margin-left: 200px; margin-bottom: -25px;">
                         <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                       </div>
                        <div class="buttons" style="margin-left: 370px; "> <span class="badge bg-white d-flex flex-row align-items-center"> 
                     <div class="form-check form-switch" > <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked> </div>
                 </span>
                </div>
            
                  
              </div>
      </div>
       </div>
    </div>      
    </div>
</div>
</div>
</div>
</section>