<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Forget Pasword
    </title>
    <link rel="icon" href="../Public/assets/school-bus.png">
    <link rel="stylesheet" href="../Public/css/forgetPassword.css">
    <!--   Fonts   -->
    <link href="http://fonts.cdnfonts.com/css/cera-round-pro" rel="stylesheet">
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>

<body>
    <div class="nav">
        <div class="nav_leftside">
            <a href="/dash/signIn">
                <div class="return">
                    <img src="/Public/assets/arrowDark.png" width="40px" height="40px">
                </div>
            </a>
            <div class="title">SchoolBusTracking</div>
        </div>
        <!-- <div class="pathes">
            <a href="">Home</a>
            <a href="">Sign In</a>
        </div> -->
    </div>
    <div class="sign_wrapper">
            <div class="svg">
                <img src="../Public/assets/forgetPassDark.svg" width="500" height="500" alt="">
            </div>
            <div class="card">
                <div class="card_head">
                    <label> RESET PASSWORD</label>
                </div>
                <form class="postForm" action="/dash/resetPassword" method="POST">
                    <div class="main_container">
                        <div class="input_container">
                            <div><img src="../Public/assets/email.png"></div>
                            <input class="input_field" id="email" type="email" value="" placeholder="Example@gmail.com">
                        </div>
                        <!-- message -->
                        <div id="emailInvalid"></div>
                    </div>
                    <button class="submit" type="submit">RESET</button>
                </form>
            </div>
    </div>
    <script>
        
    </script>
</body>
</html>