<%- contentFor('body') %>
<section class="vh-100 gradient-custom" style="border-radius: 20px; border: none; ">
  <div class=" py-5 h-100"  style="background: url(k.jfif); background-size: cover;">
    <div class="row justify-content-center align-items-center h-100"  >
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 5px;margin-bottom: 20px; border: none;">
          <div class="headingDriver card-body p-4 p-md-5" style="background-color:#fafafa; box-shadow: 0px 0px 5px #ccc; border-radius: 20px; border: none; ">
              <!-- <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Add Driver</h3> -->
              <form>
  
                <div class="row">
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <label class="form-label" for="firstName">Name</label>

                      <input type="text" id="firstName" class="form-control form-control-lg" />
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <label class="form-label" for="lastName">Trips</label>
                      <input type="text" id="trips" class="form-control form-control-lg" />
                     
                    </div>
  
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-12 mb-4 d-flex align-items-center">
  
                    <div class="form-outline datepicker w-100">
                      <label for="file" class="form-label">Photo</label>

                      <input
                        type="file"
                        class="form-control form-control-lg"
                        id="Date"
                      />
                    </div>
  
                  </div>
                 
                </div>
  
                <div class="row">
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                      <label class="form-label" for="emailAddress">Email</label>

                      <input type="email" id="emailAddress" class="form-control form-control-lg" />
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                      <label class="form-label" for="phoneNumber">Phone Number</label>

                      <input type="tel" id="phoneNumber" class="form-control form-control-lg" />
                    </div>
  
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                      <label class="form-label" for="emailAddress">password</label>

                      <input type="password" id="password" class="form-control form-control-lg" />
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                      <label class="form-label" for="confirm password">confirm password</label>

                      <input type="password" id="confirm password" class="form-control form-control-lg" />
                    </div>
  
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-6 mb-4 pb-2">
                   
                    <select class="select form-control-lg" style="background-color: #384850; color: rgb(255, 255, 255); height: 35px; margin-top: 5px; ">
                      <option value="1" disabled style="background-color:  #ffffff; color: rgb(18, 18, 19);">Choose option</option>
                      <option value="2" style="background-color: #ffffff; color: rgb(18, 18, 19);">child 1</option>
                      <option value="3" style="background-color: #ffffff; color: rgb(18, 18, 19);">child 2</option>
                      <option value="4" style="background-color: #ffffff; color: rgb(18, 18, 19);">child 3</option>
                      <option value="4" style="background-color: #ffffff; color: rgb(18, 18, 19);">more..</option>
                    </select>
                   
                  </div>
                    <div class="col-md-6 mb-4 pb-2">
                    <div >
                      <input class="btn btn-primary btn-lg" style="background-color: #384850; color: aliceblue; border: none;" type="submit" value="Submit" />
                    </div>
                   </div>
                  
                </div>
  
              
  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>