<%- contentFor('body') %>
<section class="vh-100 gradient-custom" style="border-radius: 20px; border: none; ">
    <div class=" py-5 h-100"  style="background: url(k.jfif); background-size: cover;">
      <div class="row justify-content-center align-items-center h-100"  >
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 5px;margin-bottom: 20px; border: none;">
            <div class="headingUpdateDriver card-body p-4 p-md-5" style="background-color:#fafafa; box-shadow: 0px 0px 5px #ccc; border-radius: 20px; border: none; ">
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
              

      <div class="text-center">
        <img src="/Public/assets/manager.png" class="avatar img-circle img-thumbnail" alt="avatar">
        <p></p>
        <div class="row">
            <div class="-sm-3">
            <!-- bootstrap-imageupload. -->
 
            <div class="imageupload panel panel-default">
                <div class="file-tab panel-body" style="background-color: #384850; border-radius: 5px;">
 
 
                        <!-- The file is stored here. -->
 
                        <input type="file" name="image-file" style="background-color: #384850; border-radius: 5px; color: #DABC86; width: 90px;"> 
            </div>
 
        </div>
 
    </div>
</div>
      </div></hr><br>

               
          <div class="panel panel-default">
            <div class="panel-heading " style="background-color: #384850; color: rgb(255, 255, 255); font-weight: bold;">INFORMATION <i class="fa fa-link fa-1x"></i></div>
            <div class="panel-body">
                <p >
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur, quas!
                </p>
            </div>
          </div>
  
        </div><!--/col-3-->
    	<div class="col-sm-9">
     

              
          <div class="tab-content">
            <div class="tab-pane active" id="home">
              
                  <form class="form" action="##" method="post" id="registrationForm">
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="name"><h4> Name</h4></label>
                              <input type="text" class="form-control" name="name" id="name" placeholder="name" title="enter your name if any.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="name"><h4>LicenseNumber</h4></label>
                              <input type="text" class="form-control" licenseNumber="licenseNumber" id="licenseNumber" placeholder="licenseNumber" title="enter your licenseNumber if any.">
                          </div>
                      </div>
          
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="phone"><h4>Phone</h4></label>
                              <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
                          </div>
                      </div>
          
                      <div class="form-group">
                          <div class="col-xs-6">
                             <label for="School"><h4>School</h4></label>
                              <input type="text" class="form-control" name="School" id="School" placeholder="enter School" title="enter your School number if any.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="email"><h4>Email</h4></label>
                              <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="Trip"><h4>Trip</h4></label>
                              <input type="Trip" class="form-control" id="Trip" placeholder="enter Trip" title="enter Trip">
                          </div>
                      </div>
                      <div class="form-group">
                            
                          <div class="col-xs-6">
                              <label for="password"><h4>Password</h4></label>
                              <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="password2"><h4>Verify</h4></label>
                              <input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">
                          </div>
                      </div>
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg " style="background-color: #384850; color: rgb(255, 255, 255); border: none;" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                               	<button class="btn btn-lg" style="background-color: #384850; color: rgb(255, 255, 255); border: none;" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                      </div>
              	</form>
              
              <hr>
            
               
              </div><!--/tab-pane--> 
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->
</div>
</div>
</div>
</div>
</div>
</section>