<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="icon" href="../Public/assets/school-bus.png">
    <link rel="stylesheet" href="../Public/css/newPassword.css">
    <!--   Fonts   -->
    <link href="http://fonts.cdnfonts.com/css/cera-round-pro" rel="stylesheet">
    <!--  eye icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
</head>

<body>
    <div class="sign_wrapper">
            <div class="svg">
                <img src="../Public/assets/ConfirmedDark.svg" width="500" height="500" alt="">
            </div>
            <div class="card">
                <div class="card_head">
                    <label> NEW PASSWORD</label>
                </div>
                <form onsubmit="return validation()" class="postForm" action="/dash/resetPassword" method="POST">
                    <div class="main_container">
                        <div class="input_container">
                            <div><img src="../Public/assets/lock.png"></div>
                            <input class="input_field" id="password" type="password" value="" placeholder="Password">
                            <i class="bi bi-eye-slash" onclick="togglePass(this)"></i>
                        </div>
                        <!-- message -->
                        <div id="passInvalid"></div>
                    </div>

                    <div class="main_container">
                        <div class="input_container">
                            <div><img src="../Public/assets/lock.png"></div>
                            <input class="input_field" id="confPassword" type="password" value="" placeholder="Confirm Password">
                            <i class="bi bi-eye-slash" onclick="toggleConf(this)"></i>
                        </div>
                        <!-- message -->
                        <div id="confPassInvalid"></div>
                    </div>
                    <button class="submit" type="submit">CHANGE</button>
                </form>
            </div>
    </div>
    <script>
        togglePass = (element) =>{
            let pass = document.getElementById("password");
            
            // change input type
            let type = pass.getAttribute("type") === "password" ? "text" : "password"
            pass.setAttribute("type", type)

            // toggle between bi-eye and bi-eye-slash
            element.classList.toggle("bi-eye");
        }

        toggleConf = (element) =>{
            let confPass = document.getElementById("confPassword");
            
            // change input type
            let type = confPass.getAttribute("type") === "password" ? "text" : "password"
            confPass.setAttribute("type", type)

            // toggle between bi-eye and bi-eye-slash
            element.classList.toggle("bi-eye");
        }


        validation = () => {
            const passwordCheck = /^(?=.*[0-9])(?=.*[!@#$%&*])[A-Za-z0-9!@#$%^&*]{8,20}$/
            // letters (capital or small), digits, special characters
            // at least one digit
            // at least one special character

            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confPassword').value;

            if(passwordCheck.test(password))
            {
                document.getElementById('password').style.borderBottom = '2px solid limegreen'
                document.getElementById('passInvalid').innerHTML 
                = '<div style="padding:2px; font-size:12px; color:limegreen; margin-left:21px">Looks good!</div>'
            } else {
                document.getElementById('password').style.borderBottom = '2px solid red'
                document.getElementById('passInvalid').innerHTML 
                = '<div style="padding:2px; font-size:12px; color:red; margin-left:21px">Invalid Input</div>'
            }

            if(password === confirmPassword && confirmPassword !=='')
            {
                document.getElementById('confPassword').style.borderBottom = '2px solid limegreen'
                document.getElementById('confPassInvalid').innerHTML 
                = '<div style="padding:2px; font-size:12px; color:limegreen; margin-left:21px">Looks good!</div>'
            } else {
                document.getElementById('confPassword').style.borderBottom = '2px solid red'
                document.getElementById('confPassInvalid').innerHTML 
                = '<div style="padding:2px; font-size:12px; color:red; margin-left:21px">Passwords don\'t match</div>'
            }

            return passwordCheck.test(password) && password === confirmPassword
        }
    </script>
</body>
</html>